html,
body {
  height: 100%;
  margin: 0;
}
.App {
  display: flex;
  flex-flow: column;
  height: 100%;
  min-height: 100vh;
}
.game {
  display: flex;
  flex-flow: column;
  height: 100%;
  min-height: 100vh;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: black;
}
.pokemon {
  max-width: 95%;
  max-height: 95%;
}
.pokedex {
  height: 220px;
  width: 230px;
  margin: 1%;
  padding: 0px 20px 20px 20px;
  background-color: darkred;
  border-radius: 10%;
  box-shadow: 2px 5px red;
}
.pokedexForm {
  height: 350px;
  width: 230px;
  margin: 1%;
  padding: 0px 20px 20px 20px;
  background-color: darkred;
  border-radius: 10%;
  box-shadow: 2px 5px red;
}
.score {
  padding: 10px;
  background-color: black;
  border-radius: 15%;
  color: lightgreen;
}

.button {
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  margin: 4px;
  width: 45%;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 25px;
  box-shadow: 0 5px darkblue;
}

.button:hover {background-color: cyan}

.button:active {
  box-shadow: 0 1px darkblue;
  transform: translateY(7px);
}

.pokedex-button {
  -webkit-tap-highlight-color: transparent;
  display: flex;
  justify-content: flex-start;
  margin: 1%;
  padding: 10px;
  border-radius: 100%;
}

.buttonNav {
  -webkit-tap-highlight-color: transparent;
  width: 10%;
}

@keyframes headshakeNo {
    25% {
        /* far-right */
        transform: translateX(2%);
    }
    75% {
        /* far-left */
        transform: translateX(2% * -1);
    }
}

@media (prefers-reduced-motion: no-preference) {
  .loading {
    animation: loading infinite 20s linear;
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  color: white;
}

input {
  -webkit-appearance: none;
  background-color: black;
  color: white;
  border: 2px solid blue;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 2rem;
  padding: .6rem 1.0rem .7rem;
  width: 90%;
}

input[type='email']:not(:focus):invalid,
input[type='password']:not(:focus):invalid,
input[id='user_name']:not(:focus):invalid {
  color: white;
  border: 2px solid red;
  background: red;
  animation: headshakeNo 100ms cubic-bezier(.4,.1,.6,.9) 2;
}

@media only screen and (min-width: 700px) {
  .game {
    position: fixed;
    left: 5%;
  }
  .pokedex {
    height: 260px;
  }
}

@media only screen and (min-width: 920px) {
  .game {
    position: fixed;
    left: 10%;
  }
  .pokedex {
    position: fixed;
    bottom: 0;
  }
}

@media screen and (min-device-width: 1020px) and (max-device-height: 600px) {
  .pokedex {
    position: fixed;
    right: 0;
    top: 0;
    height: 240px;
  }
}

  @media screen and (min-device-width: 900px) and (min-device-height: 1360px) {
    .pokedex {
      width: 300px;
      height: 270px;
    }
}
